.img-checkout {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.card-checkout {
  display: flex;
  align-items: center;
}

.cards-container {
  padding: 0 20px 20px 20px;
}

.info-card-checkout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.line-through {
  text-decoration: line-through;
}

.container-img-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 0 10px;
  margin: 20px 20px 0 0;
  border: 1px solid rgba(87, 47, 14, 0.123);
  border-radius: 2px;
}

.product-title {
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(87, 47, 14);
  min-width: 180px;
}

.price {
  font-size: 0.75em;
  color: rgb(128, 128, 128);
}

.priceWithDiscount {
  font-weight: 500;
  font-size: 1em;
}

.unit {
  font-size: 0.8em;
  color: rgb(128, 128, 128);
}