.img-checkout {
  width: 150px;
  height: 80px;
  object-fit: cover;
}

.card-checkout {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed rgba(117, 75, 40, 0.287);
}

.cards-container {
  padding: 0 20px;
}

.info-card-checkout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.line-through {
  text-decoration: line-through;
}

.container-img-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 140px;
  padding: 0 10px;
  margin-right: 20px;
  /* border: 1px solid rgba(206, 193, 84, 0.281); */
  border-radius: 2px;
  background: url('../img/bg-yellow.png') no-repeat center;
  background-size: contain;
}

.product-title {
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(87, 47, 14);
  min-width: 180px;
}

.price {
  font-size: 0.75em;
  color: rgb(128, 128, 128);
}

.priceWithDiscount {
  font-weight: 500;
  font-size: 1em;
}

.unit {
  font-size: 0.8em;
  color: rgb(128, 128, 128);
}

.quantity {
  font-size: 0.8em;
}